



@{
    ViewData["Title"] = "Pots";

}



<header>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        media (min-width: 768px) {
            .bd-placeholder-img-lg

        {
            font-size: 3.5rem;
        }
        }
    </style>



</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Plants</h1>
                <p class="lead text-muted">pick you new flower  </p>

            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: 1" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">1</text></svg>

                        <div class="card-body">
                            <p class="card-text">1st pot is filled with ....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="1c btn btn-sm btn-outline-secondary"value="First" asp-controller="Home" asp-action="Check"asp-action="pots">Chance</a></button>
                                    @*<div>@TempData["buttonval"]</div>*@
                                    <button type="button" class="1v btn btn-sm btn-outline-secondary">view</button>

                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:2" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">2</text></svg>

                        <div class="card-body">
                            <p class="card-text">2th pot is filled with .....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="2c btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="2v btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:3" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">3</text></svg>

                        <div class="card-body">
                            <p class="card-text">3th pot is filled with ......</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="3c btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="3v btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:4" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">4</text></svg>

                        <div class="card-body">
                            <p class="card-text">4th pot is filled with .....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="4c btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="4v btn btn-sm btn-outline-secondary">view</button>

                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:5 " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">5</text></svg>

                        <div class="card-body">
                            <p class="card-text">5th pot is filled with ......</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="5c btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="5v btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:6 " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">6</text></svg>

                        <div class="card-body">
                            <p class="card-text">6th pot is filled with .....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:7" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">7</svg>

                        <div class="card-body">
                            <p class="card-text">7th pot is filled with .....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:8 " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">8</text></svg>

                        <div class="card-body">
                            <p class="card-text">8th pot is filled with .....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder:9" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">9</text></svg>

                        <div class="card-body">
                            <p class="card-text">9th pot is filled with .....</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">change</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">view</button>
                                </div>
                                <small class="text-muted">9 hours ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

